/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126 */
   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
     display: block;
   }
   body {
     line-height: 1;
   }
   ol, ul {
     list-style: none;
   }
   blockquote, q {
     quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
     content: '';
     content: none;
   }
   table {
     border-collapse: collapse;
     border-spacing: 0;
   }
/* END OF RESET */
/*------------------------------------------------------------------------------------------------------------------------------*/

.navbar {
  bottom: 0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  text-align: center;
}

/* position: relative;
  height: auto;
  overflow: hidden;

navbar a {
float: left;
padding: 14px 16px;
position: absolute;


} */


/*------------------------------------------------------------------------------------------------------------------------------*/
/* UPLOAD DA FONT, EM DOIS WEIGHTS DIFERENTES */
@font-face {
  font-family: Alliance;
  src: url(fonts/RethinkSans-Regular.ttf);
  font-weight: 300;
}
   
@font-face {
  font-family: Alliance;
  src: url(fonts/RethinkSans-Bold.ttf);
  font-weight: 700;
}
   
/*------------------------------------------------------------------------------------------------------------------------------*/

h1{
  font-family: Alliance;
  font-weight: 700;
  font-size: 36px;
  color: #370171;
  align-self: flex-start;
  width: min-content;
  margin: 0.5rem;

}

h3{
  font-family: Alliance;
  font-weight: 700;
  font-size: 16px;
  color: #370171;
  background-color: #dbbaff;
  padding: 0.5em;
  border-radius: 0.5em;
  width:min-content;
  margin: 0.5rem;
  align-self: flex-start;
}

h4{
  font-family: Alliance;
  font-weight: 100;
  font-size: 16px;
  color: #370171;
  background-color: #F7E8FF;
  padding: 0.5em;
  border-radius: 0.5em;
  width:min-content;
  margin: 0.5rem;
  align-self: flex-start;
}


.navbar a:hover {
    background-color: #ddd;
    color: black;
   
}

li{
  display: flex;
  align-items: center;
  align-content: center;
  border: 3px solid #ffffff;
  width: 50%;
  vertical-align: baseline;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
}




.button img{
  height: 10vw !important
}

.button{
 display: flex !important;
 margin: 0 auto;
 width: 50px;
 align-items: center;
 justify-content: center;
 vertical-align: middle;
 flex-direction: column-reverse;
 border-radius: 25px;
}

 #listaItens{
  display: flex;
  border-radius: 25%;
  height: 20vw;

}

a {
  font-family: Alliance;
  font-weight: 300;
    margin: 1px 8px;
    color: #370171;
    text-decoration: none;
    font-size: 0.8em;
    text-align: center;

}

.itensMenu{
  background-color: #ffffff;
  text-align: center;
  margin: 0 0.5rem 2rem;
  bottom: 0;
  border-radius: 40px;
  height: 20vw;
  padding: 10px;
  box-shadow:0 3px 12px 0 #dbbaff;

}


body {
 background-color: #fbf7ff;
 width: 100%;
}

.perfil_animal {
  display: flex;

}

.perfil_animal img {
 align-items: center;
 align-content: center;
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 100%;
}


.button:hover{
  background-color: #370171;
}


.button_vet img{
  height: 10vw !important
}

.button_vet {

 display: flex !important;
 margin: 0 auto;
 width: 50px;
 align-items: center;
 justify-content: center;
 vertical-align: middle;
 flex-direction: column-reverse;
 border-radius: 25px;
}

#button_vet:hover{
  background-color: #370171;

}

#button_n_selecionado:hover{
  background-color: #370171;
}



a:hover{
  color:#fff;
}


.button_selecionado img{
  height: 10vw !important
}

.button_selecionado {
 display: flex !important;
 margin: 0 auto;
 width: 50px;
 align-items: center;
 justify-content: center;
 vertical-align: middle;
 flex-direction: column-reverse;
 border-radius: 25px;

}

#animais_botao {
  background-color: #370171 !important;
}



.button_selecionado > a{
  color:#fbf7ff;
}


.descricao{
 
  height: 100%;
    background-color: #fbf7ff;
    padding: 1.2000000000000028rem;
    border-radius: 1em 1em 0 0;
    position: relative;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    margin-top: -189px;
    z-index: 900;
}

#button_n_selecionado > .button_vet > a:hover{
  color:#fff;
}


.perfil_animal_forms{
  background-image: url("./images/gato_saramago.png");
  height: 100%;
}
